* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("https://res.cloudinary.com/dwsehtkkw/image/upload/v1694269152/fx2xldzvyo45jawi2nt0.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Rubik', Arial;
  overflow-y: scroll;
  background-attachment: fixed;
}
.upArrow{
  display: none;
  position: fixed;
  right: 10px;
  bottom: 10px;
  font-size: 50px;
  color: #ffc209;
}
.scrolledup{
  display: block !important;
}


