* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-image: url("../src/assets/PortfolioPhoto.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  overflow-y: scroll;
  background-position: center;
  background-attachment: fixed;
}
.upArrow{
  display: none;
  position: fixed;
  right: 10px;
  bottom: 10px;
  font-size: 50px;
  color: #ffc209;
}
.scrolledup{
  display: block !important;
}



