.aboutMeDiv {
  background-color: #11141b;
  min-height: 700px;
  max-width: 2000px !important;
  margin-top: -1px;
  padding-top: 60px;
}
.buttonsDiv{
  display: inline-flex;
}

.aboutMeTitle {
  height: 70px;
  color: white;
  text-align: center;
  position: relative;
  margin-bottom: 80px;
}

.aboutMeTitle::before {
  content: "";
  position: absolute;
  bottom: 0;
  transform: translateX(-25%);
  width: 30%;
  height: 1px;
  background: linear-gradient(to right, transparent, #cdcac0, transparent);
}

.aboutMeContent {
  min-height: 400px;
  gap: 20px;
}

.myImageDev {
  display: flex;
  width: 100%;
  justify-content: end;
}

.myImage {
  width: auto;
  height: 400px !important;
  border-radius: 50px;
  image-rendering: auto;
  background-attachment: scroll;
}

.aboutMeText p {
  color: #bdbbb8;
  width: 500px;
  line-height: 2rem;
  font-size: 0.95rem;
}
.aboutMeText {
  min-height: 400px;
}

.fillButton {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: background-color 3s;
  font-family: sans-serif;
  margin-top: 15px;
  margin-right: 10px;
}

.fillButton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #22252b;
  transition: width 0.5s;
  overflow: hidden;
  z-index: 0;
  margin-left: 5px;
}

.fillButton:hover::before {
  width: 100%;
}


.fillButton span {
  position: relative;
}

.fillButton:hover {
  background-color: transparent;
}

@media screen and (max-width: 810px) {
  .aboutMeDiv {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .aboutMeContent {
    flex-direction: column;
  }
  .aboutMeText {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 25px;
    padding: 30px !important;
  }
  .aboutMeText p {
    width: 100%;
    text-align: justify;
  }
  .aboutMeText h2 {
    padding-top: 30px;
    font-family: fantasy;
    font-size: xx-large;
  }
  .myImage {
    width: 80%;
    max-width: 300px !important;
    height: auto !important;
    margin-left: auto;
    margin-right: auto;
  }
  .aboutMeTitle{
    height: 42px;
    margin-bottom: 39px;
  }
  .aboutMeTitle::before {
    transform: translateX(-20%);
    width: 50%;
}
.aboutMeText Button{
  margin-top: 40px;
 
}
.buttonsDiv Button{
font-size: 0.8rem;
}

}
@media screen and (min-width: 600px) and (max-width: 810px) {
  .aboutMeText {

    padding: 0px 100px !important;
  }
}
@media screen and (min-width: 811px) and (max-width: 1000px) {
  .myImage {
    width: 90% !important;
    max-width: 400px !important;
    height: auto;
  }
  .aboutMeText p {
    width: 90%;
    max-width: 400px !important;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: auto !important;
    height: auto !important;
    line-height: 25px;
  }
}
